body {
  background-color: hsl(300, 53%, 7%);
  color: hsl(75, 100%, 75%);
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  padding: 1rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  border-bottom: 0.1rem solid hsl(76, 100%, 10%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  h1 {
      font-size: 3rem;
      text-align: center;
      a {
          color: hsl(75, 100%, 75%);
          text-decoration: none;
      }
  }
}

footer {
  border-top: 0.1rem solid hsl(76, 100%, 10%);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
    color: hsl(75, 100%, 75%);
}

a:hover {
    text-decoration: none;
}

a:active {
   color: hsl(0, 100%, 75%); 
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

main {
    flex: 1;
}


.link-btn {
    color: hsl(75, 100%, 75%);
    text-decoration: none;
    padding: 0.75rem;
    border: 0.1rem solid hsl(76, 100%, 10%);
    border-radius: 0.5rem;
    border-color: hsl(75, 100%, 75%);
}

.link-btn:hover {
    background-color: hsl(300, 53%, 25%);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.social-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

footer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

